{% extends 'base.html' %}
{% load static %}

{% block title %}Սպառնալիքների Քարտեզ{% endblock %}

{% block content %}
    <h1>Սպառնալիքների Քարտեզ</h1>
    <div id="threat-map" style="height: 500px;"></div>
    

        <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Հայտնաբերված Սպառնալիքներ</h5>
                    <p class="card-text">{{ stats.detected_threats }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <h3>Վիճակագրություն</h3>
    <ul>
        {% for threat in threat_types %}
            <li>{{ threat.category }}: {{ threat.count }} զեկուցում</li>
        {% endfor %}
    </ul>

    <script src="{% static 'js/threat_map.js' %}"></script>
{% endblock %}
