{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
    </div>
    <h2>{{ question.question_text }}</h2>
    {% if question.image %}
    <img src="{{ question.image.url }}" alt="Question Image" class="img-fluid">
    {% endif %}
    <div id="feedback"></div>
    <form id="answer-form">
        {% for answer in answers %}
        <button type="button" class="btn btn-outline-light answer-btn" data-answer-id="{{ answer.id }}" aria-label="Answer {{ forloop.counter|get_letter }}: {{ answer.answer_text }}">
            <span class="answer-letter">{{ forloop.counter|get_letter }}</span>. {{ answer.answer_text }}
        </button>
        {% endfor %}
    </form>
</div>
<script>
$(document).ready(function() {
    $('.answer-btn').click(function() {
        const answerId = $(this).data('answer-id');
        $.post('{% url 'quiz:submit_answer' session.id %}', {answer_id: answerId}, function(data) {
            if (data.redirect === 'result') {
                window.location.href = '{% url 'quiz:quiz_result' session.id %}';
            } else {
                $('#feedback').html(`
                    <div class="alert alert-${data.correct ? 'success' : 'danger'}">
                        ${data.correct ? 'Ճիշտ է!' : 'Սխալ է!'}<br>
                        ${data.explanation}<br>
                        Ձեռք բերված միավորներ: ${data.points_earned}
                    </div>
                `);
                setTimeout(() => window.location.reload(), 2000);
            }
        });
    });
});
</script>
{% endblock %}