{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Լավագույն Արդյունքներ</h1>
    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Քուիզի կատեգորիա</th>
                <th>Տես zaczակ</th>
                <th>Միավորներ</th>
                <th>Տոկոս</th>
                <th>Կերպար</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ result.session.category.name }}</td>
                <td>{{ result.session.get_question_type_display }}</td>
                <td>{{ result.final_score }}</td>
                <td>{{ result.percentage }}%</td>
                <td>{{ result.get_character_result_display }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Դեռևս արդյունքներ չկան</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}